html,
body,
.view {
    height: 100%;
}

body {
	background-color: #eee;
}

.control-view {
    height: 50%;
}

/* Frame */
.navbar-transparent {
    background-color: transparent;
}
.navbar-full {
	background-color: #293547;
}
.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    box-shadow: none;
}
.top-nav-collapse {
    background-color: #293547;
}

footer.page-footer {
    background-color: #293547;
    margin-top: 2rem;
}
.wrapper {
    min-height: 94%;
    height: auto !important;
    height: 100%;
    margin: -40px auto -96px;
}
.footer, .push {
    height: 150px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2e3850;
    }
}

/* Util */
.flex-center {
    color: #fff;
}
.white-text {
	color: #fff;
}
.link-text > a {
	color: #0275d8;
}
.success-text {
	color: limegreen;
}
.warning-text {
	color: gold;
}
.heavy-warning-text {
	color: darkorange;	
}
.danger-text {
	color: red;	
}
.space-top {
	padding-top: 20px;
}
.padding-top {
	padding-top: 1rem;
}
.content-padder {
	padding-top: 7rem;
}
.space-bottom {
	padding-bottom: 20px;
}
.space-left {
	padding-left: 20px;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.absolutely-positioned {
	position: absolute;
}
.inherited-position {
	position: inherit;
}
.relative-position {
	position: relative;
}
.bottom-content {
	float: bottom;
}
.square-tile{
	height: 185px;
}
.full-form-footer-button {
	width: 230px;
}
.button-centered {
    width: 38%;
    margin-left: 31%;
}

/* Landing */
.view {
    background: url("../img/connections.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.control-view {
    background: url("../img/connections.jpg")no-repeat center center fixed;
    height: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-header {
	padding: 1rem;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
    padding-bottom: 1%;
}

/* Font */
.brand-name {
    font-size: 4rem;
}
.brand-control {
    font-size: 3rem;
}
.font-bold {
    font-weight: 500;
}
.font-strat-blue {
	color: #293547;
}
.font-no-content {
	color: #c0c0c0;
}
.detail-icon {
	font-size: 25px;
}
.tile-icon {
	font-size: 35px;
}
.larger-font {
	font-size: larger;
}

.icon-companion {
	padding-left: 6px;
}
.btn-download {
	border: 1px solid #fff;
    color: #fff !important;
	opacity: 0.6;
    min-width: 330px;
}
.success-header {
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 2rem !important;
    font-size: larger;
}

/* Alert */
#alertErrorMessage {
    position: fixed;
    top: 10%;
    right: 2%;
    width: 23%;
    background: #CC0000;
}
#inner-message {
    margin: 0 auto;
    color: #ffffff;
}
#alertSuccessMessage {
	position: fixed;
    top: 10%;
    right: 2%;
    width: 23%;
    background: #00d555;
}
#inner-message {
    margin: 0 auto;
    color: #ffffff;
}

/* Radio */
.close {
	color: #ffffff !important;
}
#radioBtn .active {
    color: #ffffff;
    background-color: #2e3850;
}
#radioBtn .notActive {
    color: #ffffff;
    background-color: #c0c0c0;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}

/* Detail table */
.strat-detail-table {
	width: 100%;
    float: left;
}
.strat-detail-table .strat-detail-name {
    font-weight: bold;
    color: #373333;
    padding-bottom: 20px;
}
.strat-detail-table > tbody > .strat-detail-attribute {
    color: #4B4B4B;
    width: 50%;
}
.strat-detail-table .strat-detail-attribute-name {
    padding-right: 10px;
    background: #eee;
    height: 15px;
    text-align: right;
    vertical-align: top;
    width: 50%;
}
.strat-detail-table .strat-detail-attribute-value {
    padding-left: 10px;
}
.strat-detail-table .strat-detail-description {
    width: 100%;
    align: center;
}
tr > td:first-child {
    width: 200px;
}
.match-row {
	height: 72px;
}
.fixed-table-layout {
	table-layout: fixed;
}

/* Select */
.label--checkbox {
    position: relative;
    margin: .5rem;
    line-height: 135%;
    cursor: pointer;
}
.checkbox {
    position: relative;
    top: 0rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
}
input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}
input[type="checkbox" i] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}
.checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #293547;
    border-top-style: none;
    border-right-style: none;
}
.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #cecece;
}
.checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
}

/* Avatars */
.card-avatar {
	display: flex;
    max-width: 100%;
    height: auto;
    box-shadow: none!important;
    text-align: center;
    margin: -7rem 1rem 1rem;
    padding: 1.5rem;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #eceeef;
    -webkit-box-align: center;
}
.card-avatar img {
	width: 130px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
	border-style: none;
    vertical-align: middle;
}
.line-avatar {
    width: 23px;
    padding-right: 3px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
	border-style: none;
    vertical-align: middle;
}
.rounded-circle {
    border-radius: 50% 50% 50% 50%;
}
.form-content {
	margin: 0rem 1rem 1rem !important;;
}

/* Tabs panel */
.nav-justified .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center;
}
.nav-item > a.active {
  border-bottom: 2px solid #293547;
  position: relative;
}
.nav-item > a.active > span {
  color: #2e2e2e;	
}
.tab-listener:hover > a {
  border-bottom: 2px solid #8b9ebc;
  background: none !important;
  
}
.tab-listener:hover > a > span {
	color: #333333;
}
.tab-listener > a > span {
	color: #9d9d9d;
}
.tab-listener:hover > a.active {
  border-bottom: 2px solid #293547;
  position: relative;	
}
.tab-listener:hover > a.active > span {
  color: #2e2e2e;	
}
.nav-item > a {
  border: 0;
  margin-right: 0;
}